@import "tailwindcss";


*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
html,body{
    width:100%;
    height:100%;
      overflow-x: hidden;
}

/* globals.css */
.hide-scrollbar {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, and newer Edge */
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:radial-gradient(circle at center,  #000000,
        #000000 30%,
        #6d28d9 33%,
        #dc2626 36%,
        #facc15 39%,
        #fb923c 50%,
        #fecaca 85%,
        #fed7aa,
        #fef08a);
    color: white;
}
.header-Effect{
  font-size:large;
  color:white;
}

.header-Effect:hover{
   text-decoration:underline;
   color:rgb(46, 191, 239);
}
